<ion-header>
  <ion-toolbar>
    <ion-title>Reuniones Rechazadas</ion-title>
    <ion-buttons slot="end">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content >
  <ion-list *ngIf="isLoaded">
    <ion-item *ngFor='let result of data'> 
      <ion-avatar>
        <ion-img src="assets/img/reunion.png"></ion-img>
      </ion-avatar>
      <ion-label>
        <h3>{{result.tema}}</h3>
        <p>{{result.nombresProfesor}} {{result.apellidosProfesor}}</p>
        <p>{{result.nombresEstudiante}} {{result.apellidosEstudiante}}</p>
        <p>{{result.fecha | date:"dd MMM y HH:mm"}}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content> 