<ion-header>
  <ion-toolbar>
    <ion-title>Home</ion-title>
    <ion-buttons slot="end">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" id="container">
  <ion-text>Perfil</ion-text>
  <ion-list *ngIf="isLoaded">
    <ion-item>
      <ion-label>Nombre:</ion-label>
      <ion-label class="datos">{{data.nombres}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Apellido:</ion-label>
      <ion-label class="datos">{{data.apellidos}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Email:</ion-label>
      <ion-label class="datos">{{data.correo_institucional}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Banner:</ion-label>
      <ion-label class="datos">{{data.codigo}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>E-Personal:</ion-label>
      <ion-label class="datos">{{data.correoPersonal}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Telefono:</ion-label>
      <ion-label class="datos">{{data.telefono}}</ion-label>
    </ion-item>  
  </ion-list>
  
</ion-content>